{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link href="{% static 'css\home.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            {% block content %}
                {% for post in object_list %}
                    <div class="post-entry">
                        <h2><a href=''>{{post.title}}</a></h2>
                        <p>{{ post.short_description }}</p>
                    </div>
                {% endfor %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>